# History files
.Rhistory
.Rapp.history

alison/trenaDB/pkgs/crosstalk_1.0.1.tar.gz
alison/trenaDB/pkgs/DT_0.4.4.tar.gz
alison/trenaDB/pkgs/htmlwidgets_1.1.tar.gz
dockerImages/trenaPrereqsCode/SNPlocs.Hsapiens.dbSNP150.GRCh38_0.99.20.tar.gz
trem2/pkgs/igvShiny_0.99.15.tar.gz
trem2/pkgs/MotifDb_1.23.10.tar.gz
trem2/shinyApp/data/
trem2/shinyApp/png/
trem2/shinyApp/tmp/


alison/CKAP2L/data/CPMNorm_5252018.RData
alison/CKAP2L/data/enhancers.RData
alison/CKAP2L/data/matrices.RData
alison/CKAP2L/data/models.RData
alison/CKAP2L/data/tbl.dhs.RData
alison/CKAP2L/data/tbl.fimo.20tfs.1115.bindingSites.RData
alison/CKAP2L/data/tbl.fimo.55tfs.29406.bindingSites.RData
alison/CKAP2L/data/tbl.pheno.RData
alison/CKAP2L/data/tbl.snp.RData
alison/CKAP2L/data/TMMNorm_572018.RData
alison/CKAP2L/dataPrep/geneSymbols.1MB.RData
alison/CKAP2L/dataPrep/initial-tf-roundup.RData
alison/CKAP2L/dataPrep/second-tf-roundup.RData
alison/CKAP2L/dataPrep/tbl.fimo.55tfs.29406.bindingSites.RData
alison/CKAP2L/dataPrep/tbl.fimo.raw.RData
alison/CKAP2L/dataPrep/third-tf-roundup.RData
alison/CKAP2L/dataPrep/x2.regionsMotifMatchingModel.RData
alison/trenaDB/placenta.draft.RData
igap/rin3/dataPrep/forDisruptionStudy.RData
igap/rin3/dataPrep/tbl.bindingSitesWithSnps.RData
igap/rin3/dataPrep/tbl.bindingSitesWithSnpsAndDeltaScores.RData
igap/rin3/shinyApp/rin3.models.RData
igap/rin3/shinyApp/sequenceMatchesForTfsInModel.RData
igap/rin3/shinyApp/tbl.bindingSitesWithSnpsAndDeltaScores.RData
igap/rin3/shinyApp/tbl.dhs.RData
igap/rin3/shinyApp/tbl.enhancers.RData
igap/rin3/shinyApp/tbl.gwas.rin3.RData
tert/dataPrep/tbl.enhancers.RData
trem2/data/dhs.RData
trem2/data/enhancers.RData
trem2/data/motif2tf.map.RData
trem2/data/mtx.withDimers.cer.ros.tcx.RData
trem2/data/nine-models.RData
trem2/data/perturbedBindingSites.RData
trem2/data/pfms.chosen.RData
trem2/data/small.model.RData
trem2/data/snps.RData
trem2/data/tbl.bindingSitesWithSnps.RData
trem2/data/tbl.bindingSitesWithSnpsAndDeltaScores.RData
trem2/data/tbl.bs.inProcess.RData
trem2/data/tbl.enhancers.RData
trem2/data/tbl.fimo.15tfs.16435bindingSites.RData
trem2/data/tbl.fimo.raw.RData
trem2/data/tbl.fimoHitsInEnhancers.RData
trem2/data/trem2-models.RData
trem2/dataPrep/.RData
trem2/dataPrep/motif2tf.map.RData
trem2/dataPrep/mtx.withDimers.cer.ros.tcx.RData
trem2/dataPrep/nine-models.RData
trem2/dataPrep/pfms.chosen.RData
trem2/dataPrep/tbl.bindingSitesWithSnps.RData
trem2/dataPrep/tbl.bs.inProcess.RData
trem2/dataPrep/tbl.fimo.15tfs.16435bindingSites.RData
trem2/dataPrep/tbl.fimo.raw.RData
trem2/shinyApp/dhs.RData
trem2/shinyApp/enhancers.RData
trem2/shinyApp/perturbedBindingSites.RData
trem2/shinyApp/small.model.RData
trem2/shinyApp/snps.RData
trem2/shinyApp/tbl.bindingSitesWithSnpsAndDeltaScores.RData
trem2/shinyApp/tbl.enhancers.RData
trem2/shinyApp/tbl.fimoHitsInEnhancers.RData
trem2/shinyApp/trem2-models.RData
tsnare1/dataPrep/mayo.rnaSeq.cer.and.tcx.matrices.RData
tsnare1/dataPrep/tbl.enhancers.RData


.RData
/tmp/*
.bed

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md


# archive only recipes and source filesfor javascript, no node_modules, no built files
node_modules/
.DS_Store
*.eot
*.woff2
*.woff
*.ttf
*.svg
bundle.js
